.app__title-bar {
  display: grid;
  /* #, title, repeat, shuffle,  list dimensions, icons 40rem max */
  grid-template-columns: 10% 20% 1% 20% 10% 30%;

  background-color: #1f0f0f;
  place-items: center;
}
