.app__title-bar {
  display: grid;
  /* #, title, repeat, shuffle,  list dimensions, icons 40rem max */
  grid-template-columns: 10% 20% 1% 20% 10% 30%;

  background-color: #1f0f0f;
  /* box-shadow: 0px 5px 10px rgba(0,0,0,0.7), 0px 10px 20px rgba(0,0,0,0.5) */
  box-shadow:
    0px 5px 10px rgba(0, 0, 0, 0.3),
    0px 2px 4px rgba(0, 0, 0, 0.5);
  place-items: center;
  width: 100%;
}
