/* 2. SVG Scaling Rules. Parent styles in buttonBar.css */
.button-bar-icon {
  width: 100%;
  height: auto;
  max-width: 40px; /* Limits size on desktop */
  min-width: 24px; /* Prevents it looking too small on mobile */
}
.button-bar-icon-large {
  width: 100%;
  height: auto;
  max-width: 68px; /* Limits size on desktop */
  min-width: 36px; /* Prevents it looking too small on mobile */
}
